<!DOCTYPE html>
<html>

<head>
    <title>Angular Combo Box</title>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61097411-1', 'auto');
      ga('send', 'pageview');

    </script>   
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="http://bradleytrager.github.io/angular-combo-box/">Angular Combo Box</a>
            </div>
            <ul class="nav navbar-nav">
            <li><a href="https://github.com/bradleytrager/angular-combo-box">Code</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div ng-app="ngComboBoxExample" style="padding: 75px 15px;">
            <h2>Example</h2>
                <div class="col-md-3">
                    <div ng-controller="myController">
                        <combo-box options="options" combo-model="color" other-label="A color not on the list..." label="--Select a Color--"></combo-box>
                        <div>Selected Color: <span ng-bind="color"></span></div>
                        <div><button ng-click="reset()">Reset</button></div>
                    </div>
                </div>
                <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <a href="http://jsfiddle.net/bradleytrager/hdrnvmv2/" class="btn btn-default pull-right" target="_blank">
                            <i class="glyphicon glyphicon-edit">&nbsp;</i>
                            Edit in jsFiddle</a>
                    </div>
                </div>
                    <div class="highlight">
                        <pre class="prettyprint lang-html">&lt;combo-box
    options="options" 
    combo-model="color" 
    label="--Select a Color--"
    other-label="A color not on the list..." &gt;
&lt;/combo-box&gt;
&lt;div&gt;Selected Color: &lt;span ng-bind="color"&gt;&lt;/span&gt;&lt;/div&gt;
&lt;div&gt;&lt;button ng-click="reset()"&gt;Reset&lt;/button&gt;&lt;/div&gt;</pre>
<pre class="prettyprint lang-javascript">angular.module('ngComboBoxExample', ['ngComboBox'])
    .controller('myController', function($scope) {
        $scope.options = [
           'Blue',
           'Red',
           'Pink',
           'Purple',
           'Green'
       ];
       $scope.color = null;
       $scope.reset = function() {
           $scope.color = null;
       };
    });</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bower_components/angularjs/angular.min.js"></script>
    <script src="bower_components/angular-combo-box/dist/angular-combo-box.min.js"></script>
    <script>
    angular.module('ngComboBoxExample', ['ngComboBox'])
        .controller('myController', function($scope) {
            $scope.options = [
                'Blue',
                'Red',
                'Pink',
                'Purple',
                'Green'
            ];
            $scope.color = null;
            $scope.reset = function() {
                $scope.color = null;
            };
        });
    </script>
    
</body>

</html>
